*.class
*.log
*.ctxt
.mtj.tmp/

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.idea
*.iws
*.iml
*.ipr
out/

.vscode/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

mas.log